body {
    background-color: #ffebee; 
  }
  
  .btn-custom {
    background-color:crimson; 
    border-color:crimson; 
    color: white; 
  }
  
  .btn-custom:hover {
    background-color:crimson; 
    border-color:crimson; 
  }